{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Mudunuru Login Page</title>
        <link rel="stylesheet" type="text/css" href="{% static 'web.css' %}">
    </head>
    <body>
        <div class="center">
            <h1 id="MUDUNURU">MUDUNURU GROUP</h1>
            <h1>Login Page</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="txt_field">
                        <input type="text" required>
                        <label>username</label>
                    </div>
                    <div class="txt_field">
                        <input type="password" required>
                        <label>password</label>
                    </div>
                    <div class="pass">Forget Password?</div>
                    <div class="center-button">
                    <a href="./register/register"><button type="button" name="Login">LOGIN</button></br></br></br></a>
                    </div>
                    <div class="signup_link">
                        not a member? <a href="#">signup</a>
                   </div>
                </form>
        </div>
    </body>
</html>