body{
    background-image: url(./shop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 109vh;
}
.center h1{
  text-align:center;
  padding: 0 0 10px 0;
  border-bottom:1px solid silver ;
}
form {
  max-width: 0 auto;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table{
  margin: 0 auto;
  width: 80%;
  height: 0 auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: goldenrod;
  text-align: left;
  padding: 8px;
}

td {
  padding: 8px;
}

tr:nth-child(even) {
  background-color: gold;
}

tr:hover {
  background-color: gold;
}
.center-button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height:29vh;
}
.center-button button {
  padding: 10px 15px;
  font-size: 15px;
}